:host-context(.admin){
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    background: #464646;
}

:host-context(.admin):host(:hover){
    background: #262626
}

:host(.micro) {
    top: 4px;
    width: 25px;
    height: 25px;
}

:host(.micro) /deep/ #icon {
  margin: 0;
}
